<section class="section-copyright dm-shadow text-center" <!---style="position: fixed; bottom: 0px; width: 100%;"-->>
    <div class="container">
        <div class="back-to-top clearfix">
            <span><span class="dmtop"><i class="fa fa-arrow-up"></i></span></span>
        </div>
        <p><a href="http://charliesrepair.com">Charlie's Repair</a> | 56989 220th St., Austin, MN 55912 | (507) 438-8172<br />
        Copyright © <script>document.write(new Date().getFullYear())</script>. Programmed by <a href="http://mikewills.me/">Mike Wills</a>. All Rights Reserved.</p>
        <p style="font-size: xx-small; font-stretch: condensed; line-height: normal;">All information contained on this web site is believed to be accurate at the time of publication. 
        However, it may be necessary to make revisions and Charlie's Repair reserves the right to make all such changes without notice, including prices, 
        colors, materials, equipment and specifications as well as the addition of new models and the discontinuance of models shown on this web site. 
        Therefore, please contact Charlie's Repair and confirm the existence of any materials, design or specifications that are material to your purchase decision.</p>
    </div><!-- end container -->
</section><!-- end section-copyright -->
</div><!-- wrapper -->
<!-- Bootstrap core JavaScript
================================================== -->
<script src="/js/bootstrap.js"></script>
<script src="/js/fhmm.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/jquery.unveilEffects.js"></script>
<script src="/js/retina-1.1.0.js"></script>
<script src="/js/jquery.simple-text-rotator.js"></script>
<script src="/js/application.js"></script>
<!-- LayerSlider script files -->
<script src="/layerslider/js/greensock.js" type="text/javascript"></script>
<script src="/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery("#layerslider").layerSlider({
        pauseOnHover: false,
        autoPlayVideos: false,
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'v5',
        skinsPath: 'layerslider/skins/'
    });
</script>
<!-- Owl Carousel script files -->
<script src="/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-portfolio").owlCarousel({
            items: 4,
            lazyLoad: true,
            pagination: false,
            navigation: true
        });
        // Set the active page
        $('{{ page.pageClass }}').addClass("active");
    });
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27397562-1']);
    _gaq.push(['_setDomainName', 'charliesrepair.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>