    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">{{ site.name }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stands <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/5-speed-stand/">5 speed stand</a></li>
                  <li><a href="/front-splitting-stand/">Front splitting stand</a></li>
                  <li><a href="/rear-housing-stand/">Rear housing stand</a></li>
                  <li><a href="/ta-handler/">TA handler</a></li>
                </ul>
              </li>
              <li><a href="/electric-conversion/">Electric conversion</a></li>
              <li><a href="/wiring-diagrams/">Wiring diagrams</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>