<div id="sidebar" class="col-lg-3 col-md-3 col-sm-12 clearfix">
    <div class="widget clearfix">
        <div class="widget-title">
            <h3>Related Items</h3>
        </div>
        <ul class="recent_posts">
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/electric-conversion/delco-alternator/">
                            <img src="/img/electric-conversion/12_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/electric-conversion/delco-alternator/">
                            <h4>Delco Alternator Kits</h4>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/electric-conversion/hitachi-mitsubishi-alternators/">
                            <img src="/img/electric-conversion/12_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/electric-conversion/hitachi-mitsubishi-alternators/">
                            <h4>Hitachi/Mitsubishi Alternator Kits</h4>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- recent posts -->
    </div>
    <!-- end widget -->
</div>
<!-- end sidebar -->
