<div id="sidebar" class="col-lg-3 col-md-3 col-sm-12 clearfix">

    <div class="widget clearfix">
        <div class="widget-title">
            <h3>Related Items</h3>
        </div>
        <ul class="recent_posts">
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="">
                            <img src="" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <h4></h4>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- recent posts -->
    </div>
    <!-- end widget -->

</div>
<!-- end sidebar -->
