<div id="sidebar" class="col-lg-3 col-md-3 col-sm-12 clearfix">

    <div class="widget clearfix">
        <div class="widget-title">
            <h3>Related Items</h3>
        </div>
        <ul class="recent_posts">
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/stands/5-speed-stand/">
                            <img src="/img/5speed/10_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/stands/5-speed-stand/">
                            <h4>5 Speed Stand</h4>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/stands/front-splitting-hd-stand/">
                            <img src="/img/front-splitting/80_HD_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/stands/front-splitting-hd-stand/">
                            <h4>HD Front Splitting Stand</h4>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/stands/front-splitting-stand/">
                            <img src="/img/front-splitting/20_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/stands/front-splitting-stand/">
                            <h4>Front Splitting Stand</h4>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/stands/mini-stand/">
                            <img src="/img/mini-stand/CUB-LoBoy-split_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/stands/mini-stand/">
                            <h4>Mini Stand</h4>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/stands/rear-housing-stand/">
                            <img src="/img/rear-housing/10_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/stands/rear-housing-stand/">
                            <h4>Rear Housing Stand</h4>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="valign">
                    <div class="recent_post_img">
                        <a href="/stands/ta-handler/">
                            <img src="/img/ta-handler/30_600x600.jpg" alt="" />
                        </a>
                    </div>
                    <div>
                        <a href="/stands/ta-handler/">
                            <h4>TA Handler</h4>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- recent posts -->
    </div>
    <!-- end widget -->

</div>
<!-- end sidebar -->
